<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drughub.doctor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Login.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login.LoginActivity" />

        <activity android:name=".MainActivity" />

        <activity android:name=".Cart.CartActivity" />
        <activity android:name=".MyOrders.MyOrderContainer" />


        <activity android:name=".consultation.PatientVaccineScheduleActivity" />

        <activity android:name=".consultation.AvailableInventoryActivity" />

        <activity android:name=".mycalendar.MyCalendarActivity" />

        <activity
            android:name=".patient_record.PatientRecordActivity"
            android:windowSoftInputMode="adjustNothing" />

    </application>

</manifest>
