<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drughub.doctor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".MyProfile.MyProfileActivity" />

        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing"/>

        <activity android:name=".Cart.CartActivity" />
        <activity android:name=".MyOrders.MyOrderContainer" />


        <activity android:name=".consultation.PatientVaccineScheduleActivity" />

        <activity android:name=".consultation.AvailableInventoryActivity" />

       <activity android:name=".mycalendar.MyCalendarActivity" />

        <activity android:name=".OrangeWallet.OrangeWalletActivity" />

        <activity android:name=".OrangeWallet.SaveCard" />

        <activity  android:name=".consultation.VaccinationSchedule" />

        <activity android:name=".Notification.NotificationActivity"/>

        <activity android:name=".Notification.NotificationsettingActivity" />
        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".patientrecords.PatientRecordActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".patientrecords.BookmarkedActivity"
            android:windowSoftInputMode="adjustNothing" />

        <activity android:name=".orangeconnect.OrangeConnectActivity" />
        <activity android:name=".AboutActivity" />

    </application>

</manifest>
